body {
  font-family: 'Proxima Nova', 'proxima-nova', 'helvetica neue', sans-serif;
  background: #fff;
  color: #333;
  -webkit-font-smoothing: antialiased;
  position: relative;
}

footer {
  position: relative;
  padding-top: 20px;
  background: #fff;
  padding-bottom: 50px;
}

.social-logo {
  width: 32px;
  margin: 0 5px;
  opacity: 0.4;
  border: none;
  border-radius: 50%;
}

.social-logo:first-child {
  margin-left: 0;
}

.social-logo:hover {
  box-shadow: 0 3px 0 rgba(255,255,255,0.1);
  opacity: 0.7;
}


.footer-main-inner {
  padding: 10px;
  position: relative;
}

.em-container {
  cursor: default;
  display: inline-block;
}

.em-container:hover div {
  color: #333;
}

.em-container div {
  position: absolute;
  left: 10px;
  top: 58px;
  font-size: 0.8em;
  white-space: nowrap;
  text-transform: uppercase;
  color: #999;
  transition: .5s color;
}

.m {
  height: 9px;
  opacity: 0.3;
  transition: .5s opacity;
}

.em-container:hover .m {
  opacity: 1;
}

.main-header {
  margin-bottom: 40px;
}
.main-header-inner {
  position: relative;
  padding: 40px 0 10px 120px;
}
.main-header .profile {
  width: 100px;
  position: absolute;
  left: 0;
}

.main-header h1 {
  font-weight: 800;
  font-size: 42px;
  margin-bottom: 15px;
  text-transform: uppercase;
  line-height: 1;
}

.main-header h2 {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 10px;
  line-height: 1;
}

.main-header p {
  margin-bottom: 0;
  font-size: 16px;
  line-height: 1;
}


@media screen and (max-width: 800px) {
  .main-header .profile {
    position: static;
    display: block;
    margin-bottom: 20px;
  }

  .main-header-inner {
    padding-top: 20px;
    padding-left: 10px;
  }
}


strong {
  font-weight: 600;
}

a {
  color: #1082ff;
  text-decoration: none;
}

a:hover {
  color: #3495ff;
  text-decoration: underline;
}

.list-unstyled {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
}

.list-unstyled li {
  padding-left: 0;
}

.list-header {
  margin-bottom: 10px;
}

section {
  margin-bottom: 3.5rem;
}

.post-header {
  margin-bottom: 0;
}

.post-date {
  font-family: 'Proxima Nova', 'proxima-nova', 'helvetica neue', sans-serif;
  color: #888;
}


.main-body {
  font-family: Georgia, serif;
  font-size: 1.9rem;
}

.post {
  font-family: Georgia, serif;
  font-size: 1.9rem;
  max-width: 800px;
}

.heading-anchor {
  color: #ccc;
  font-weight: 300;
  padding-right: 0;
  margin-left: -30px;
  display: inline-block;
  width: 30px;
  opacity: 0;
  transition: .2s opacity;
}

.heading-anchor-container:hover .heading-anchor,
.heading-anchor:hover {
  text-decoration: none;
  opacity: 1;
}

pre, code, kbd, samp,
code[class*="language-"],
pre[class*="language-"] {
  font-family: Menlo, Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
}
pre[class*="language-"] {
  margin: 0;
  margin-bottom: 2.5rem;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: #f6f6f6;
  border: 0;
  border-left: 6px solid #eee;
}

pre > code {
  padding: 0;
  border: 0;
}

img {
  max-width: 100%; /* scale images down for mobile */
}

#vis-container {
  font-family: 'Proxima Nova', 'proxima-nova', 'helvetica neue', sans-serif;
  font-size: 1.5rem;
}