---
---
@import "normalize.css";
// @import "skeleton.css";
@import "prism.css";

$background-color: hsl(223, 28%, 13%);
$background-color: hsl(186, 49%, 39%);
$nav-background: hsl(223, 28%, 13%);
$link-color: hsl(163, 75%, 47%);
$light-bg-link-color: $background-color;
$nav-link-hover-color: #9facd0;
$nav-link-hover-color: $link-color;
$nav-height: 60px;
$spacer: 20px;
$gold: hsl(41, 95%, 67%);
$section-spacing: 160px;
$post-text-padding: 40px;
$post-spacing-big-text: 70px;
$post-spacing-big-image: 120px;
$post-spacing-small: 20px;
$shadow-color: darken($background-color, 20%);
$gray-200: hsl(223, 3%, 91%);
$gray-400: hsl(223, 3%, 61%);
$gray-600: hsl(223, 3%, 41%);

@mixin shadow() {
  box-shadow: 5px 5px 20px 0px $shadow-color;
}

html {
  font-size: 62.5%; 
}

body {
  font-family: 'Proxima Nova', 'proxima-nova', 'helvetica neue', sans-serif;
  background-color: $background-color;
  background-image: linear-gradient(180deg, lighten($background-color, 5%) 0%, darken($background-color, 10%) 100%);
  background-attachment: fixed;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  position: relative;
  line-height: 1.4;
  font-size: 1.6em;
}

a {
  color: $link-color;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

button {
  background: #fff;
  border: 2px solid $gray-200;
  color: #333;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 10px;
  font-size: 0.75em;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

p {
  margin-top: 0; 
}

ul {
  list-style: disc outside; }
ol {
  list-style: decimal outside; }
ol, ul {
  padding-left: 0;
  margin-left: 2rem;
  margin-top: 0; }
ul ul,
ul ol,
ol ol,
ol ul {
  margin: 1.5rem 0 1.5rem 3rem;
  font-size: 90%; }
li {
  margin-bottom: 0.8rem; }



.list-unstyled {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.list-unstyled li {
  padding-left: 0;
}

.list-inline {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.list-inline li {
  display: inline-block;
  padding-left: 0;
  margin-right: 1rem;
}


.main-nav {
  background: $nav-background;
  display: grid;
  grid-template-columns: 200px 1fr;
  height: $nav-height;
  grid-gap: $spacer;
  align-items: center;
  padding: 0 $spacer;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 5000;

  h1 {
    margin: 0;
    font-weight: 600;
    font-size: 1.4em;
    text-transform: uppercase;
    letter-spacing: 2px;
    
  }

  a {
    color: #fff;
    text-decoration: none;

    &:hover {
      color: $nav-link-hover-color;
    }
  }

  .nav-links { 
    justify-self: end;
    display: flex;
    a {
      margin-right: 40px;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-size: 0.85em;
      font-weight: 600;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

main {
  margin-top: $nav-height + (2 * $spacer);
  padding: 0 $spacer;
}


.layout-homepage main {
  margin-top: $nav-height + $section-spacing;
}



section {
  margin-bottom: $section-spacing;
  position: relative;
}
.section-anchor {
  position: absolute;
  top: (-$nav-height - 30px);
}


@media all and (max-width: 700px) { 
  .main-nav {
    position: static;
    grid-template-columns: 1fr;
    grid-template-rows: 60px auto;
    height: auto;
    grid-gap: 10px;
    
    h1 {
      text-align: center;
    }

    .nav-links {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 30px 30px;
      justify-self: center;
      margin-bottom: 10px;
      grid-column-gap: 40px;
      grid-row-gap: 6px;
      text-align: center;

      a {
        margin-right: 0;
      }
    }
  }

  main {
    margin-top: 0;
  }

   // undo fixed nav height
  //  $media-section-spacing: 80px;
  .layout-homepage main {
    margin-top: 80px;
  }

  
  .section-anchor {
    top: -10px;
  }
}


.section-header {
  font-weight: 600;
  text-transform: uppercase;
  margin: 0 0 10px;
  letter-spacing: 2.4px;
  font-size: 1.35em;
  color: rgba(255, 255, 255, 0.9);
  text-shadow: 2px 2px 0px $shadow-color;
  border-bottom: 4px solid rgba(255, 255, 255, 0.2);
}

.about-box {
  display: grid;
  grid-template-columns: 3fr 2fr;
  grid-gap: $spacer;
  background: $nav-background;
  @include shadow();
  max-width: 800px;
  margin: 0 auto;
  align-items: center;
}

@media all and (max-width: 700px) { 
  .about-box {
    grid-template-columns: 1fr;
    grid-template-rows: 360px 1fr;
  }

  .profile-image {
    grid-row: 1;
  }
}

.about-description {
  padding: $post-text-padding;
  font-size: 1.3em;
  p:last-child {
      margin-bottom: 0;
  }
}

.profile-image {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

.container {
  max-width: 1152px;
  display: grid;
  justify-content: space-around;
  margin: 0 auto;

}

.outline-btn {
  display: inline-block;
  padding: 10px;
  border: 2px solid $gray-200;
  margin-top: 10px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  font-size: 0.7em;
  color: #333;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

.posts-small {
  $text-height: 250px;
  $image-height: 150px;
  $min-col-width: 310px;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax($min-col-width, 1fr));
  
  grid-template-rows: repeat(auto-fill, 1fr);
  grid-column-gap: $post-spacing-small;
  grid-row-gap: $post-spacing-small;

  .post-item {
    margin-bottom: 0;
    grid-template-columns: auto;
    grid-template-rows: $image-height auto;
  }

  &.text-only {
  
    .post-item {
      grid-template-columns: auto;
      grid-template-rows: auto;
    }
  }
}

.post-item {
  background: #fff;
  display: grid;
  grid-template-columns: 3fr 2fr;
  grid-template-rows: 360px;
  color: #333;
  @include shadow();

  img {
    width: 100%;
    height: 100%;
  }

  &.post-big-text {
    grid-template-columns: 2fr 3fr;
    grid-template-rows: 280px;
    margin-bottom: $post-spacing-big-text;
  }

  &.post-big-image {
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 360px;
    margin-bottom: $post-spacing-big-image;
  }

  &:last-child {
    margin-bottom: 0 !important;
  }
}

@media all and (max-width: 800px) { 
  .post-item.post-big-text,
  .post-item.post-big-image {
    grid-template-columns: 1fr 1fr;
  }

  .post-big-text .post-item-description,
  .post-big-image .post-item-description {
    display: none;
  }
}
@media all and (max-width: 660px) {
  .post-item.post-big-text,
  .post-item.post-big-image {
    grid-template-columns: 1fr;
  }
}

.post-item-image {
  background-size: cover;
  background-position: center;
}

.post-item-details {
  padding: $post-text-padding;
  display: flex;
  flex-direction: column;
}
.post-item-details-inner {
  flex: 1;
}

.post-item-title {
  font-size: 1.6em;
  text-decoration: none;
  color: #333;
  display: block;
  line-height: 1;
  margin-bottom: 4px;
}

.post-item-date, 
.post-item-host {
  color: $gray-400;
  margin-right: 1em;
}

.post-item-host {
  font-style: italic;
}

.post-item-description {
  color: $gray-600;
  margin-top: 10px;
  margin-bottom: 0;
}




.main-footer {
  display: flex;
  padding: $spacer;
  justify-content: space-between;
  background: $nav-background;
  align-items: center;

  .email {
    // opacity: 0.7;

    &:hover {
      opacity: 1;
    }
  }
}

.social-logo {
  width: 32px;
  height: 32px;
  margin: 0 5px;
  opacity: 0.7;

  &:first-child {
    margin-right: 0;
  }

  &:hover {
    opacity: 1;

    &:last-child {
      margin-right: 0;
    }
  }
}



/*** BLOG POSTS ****/
.post-container {
  padding: 80px;
  max-width: 800px;
  background: #fff;
  margin-bottom: $section-spacing;
  color: #333;
  @include shadow();
  min-width: 0; // fix overflow issue https://stackoverflow.com/questions/43311943/prevent-content-from-expanding-grid-items
  min-height: 0; // fix overflow issue

  a {
    color: $light-bg-link-color;
  }
}

@media all and (max-width: 900px) { 
  .post-container {
    padding: 40px;
  }
}

@media all and (max-width: 700px) { 
  .post-container {
    margin: 0 (-$spacer) 0;
    box-shadow: none;
  }
}

.post {
  font-family: Georgia, serif;
  font-size: 1.9rem;
  line-height: 1.7;

  img {
    max-width: 100%;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family:  'Proxima Nova', 'proxima-nova', 'helvetica neue', sans-serif;
  color: #444;
  margin-top: 0;
  margin-bottom: 2rem;
  font-weight: 200; }
h1 { font-size: 3.6rem; line-height: 1.25; }
h2 { font-size: 3.0rem; line-height: 1.3;  }
h3 { font-size: 2.4rem; line-height: 1.35;  }
h4 { font-size: 2.0rem; line-height: 1.5;   }
h5 { font-size: 1.8rem; line-height: 1.6;  }
h6 { font-size: 1.6rem; line-height: 1.6;  }

/* Larger than phablet */
@media (min-width: 550px) {
  h1 { font-size: 4.2rem; }
  h2 { font-size: 3.6rem; }
  h3 { font-size: 3.0rem; }
  h4 { font-size: 2.4rem; }
  h5 { font-size: 2.0rem; }
  h6 { font-size: 1.7rem; }
}

.post h2, .post h3, .post h4 {
  margin-top: 5rem;
}

.post-header {
  margin-bottom: 0;
  line-height: 1;
}

.post-info {
  color: #888;
}

.post-info-list {
  margin: 1rem 0 4rem;
}
.post-info-list li::before {
  content: '•';
  color: #ccc;
  margin-right: 1rem;
}
.post-info-list li:first-child::before {
  display: none;
}


.heading-anchor {
  color: #ccc;
  font-weight: 300;
  padding-right: 0;
  margin-left: -30px;
  display: inline-block;
  width: 30px;
  opacity: 0;
  transition: .2s opacity;
}

.heading-anchor-container:hover .heading-anchor,
.heading-anchor:hover {
  text-decoration: none;
  opacity: 1;
}


pre, code, kbd, samp,
code[class*="language-"],
pre[class*="language-"] {
  font-family: Menlo, Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
}
pre[class*="language-"] {
  margin: 0;
  margin-bottom: 2.5rem;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"],
pre.highlight {
  background: #f6f6f6;
  border: 0;
  border-left: 6px solid #eee;
}

pre.highlight {
  padding: 1em;
  margin: 0;
  margin-bottom: 2.5rem;
  overflow: auto;
}

pre.highlight > code {
  background: none;
}

pre > code {
  padding: 0;
  border: 0;
}

img {
  max-width: 100%; /* scale images down for mobile */
}

#vis-container {
  font-family: 'Proxima Nova', 'proxima-nova', 'helvetica neue', sans-serif;
  font-size: 1.5rem;
}

.full-width-image img, .full-width-image {
  width: 100%;
}

.giphy-embed {
  margin-bottom: 1.5em;
}
