---
layout: default
title: Home
twitter: true
twitter_type: summary
description: Peter Beshai's blog - data visualization, basketball, and web development.
img: /images/profile.jpg
projects:
  - url: http://www.cancerbrowser.org/
    title: Harvard Medical School Breast Cancer Browser
  - url: https://openvisconf.com/2016/#videos
    title: OpenVis Conf 2016 Videos
  - url: http://buckets.peterbeshai.com/app/
    title: "Buckets: NBA Shot Visualization"
  - url: http://do.peterbeshai.com/academic/projects.html
    title: "Academic Projects"
open_source:
  - url: http://peterbeshai.com/vis/d3-interpolate-path/
    title: d3-interpolate-path
  - url: http://peterbeshai.com/vis/d3-line-chunked/
    title: d3-line-chunked
  - url: http://peterbeshai.com/vis/d3-scale-interactive/
    title: d3-scale-interactive
  - url: https://github.com/pbeshai/react-auto-width/
    title: react-auto-width
  - url: https://github.com/pbeshai/react-computed-props/
    title: react-computed-props
  - url: http://peterbeshai.com/react-taco-table/
    title: react-taco-table
  - url: http://peterbeshai.com/react-url-query/
    title: react-url-query
blog:
  - url: https://bocoup.com/weblog/showing-missing-data-in-line-charts
    title:  Showing Missing Data in Line Charts
  - url: https://bocoup.com/weblog/improving-d3-path-animation
    title:  Improving D3 Path Animation
  - url: https://medium.com/@pbesh/linked-highlighting-with-react-d3-js-and-reflux-16e9c0b2210b
    title:  Linked Highlighting with React, D3.js and Reflux
  - url: https://medium.com/@pbesh/react-and-vega-an-alternative-visualization-example-cd76e07dc1cd#.d3cx0asd0
    title:  "React and Vega: An Alternative Visualization Example"
---
<section>
  <h3 class="list-header">Blog</h3>
  <ul class="list-unstyled posts">
  {% for post in site.categories.blog %}
  <li><a class="post_title" href="{{ post.url }}">{{ post.title }}</a></li>
  {% endfor %}
  {% for post in page.blog %}
  <li><a class="post_title" href="{{ post.url }}">{{ post.title }}</a></li>
  {% endfor %}
  </ul>
</section>

<section>
  <h3 class="list-header">Open Source</h3>
  <ul class="list-unstyled posts">
  {% for post in site.categories.open_source %}
  <li><a class="post_title" href="{{ post.url }}">{{ post.title }}</a></li>
  {% endfor %}
  {% for post in page.open_source %}
  <li><a class="post_title" href="{{ post.url }}">{{ post.title }}</a></li>
  {% endfor %}
  </ul>
</section>

<section>
  <h3 class="list-header">Projects</h3>
  <ul class="list-unstyled posts">
  {% for post in site.categories.projects %}
  <li><a class="post_title" href="{{ post.url }}">{{ post.title }}</a></li>
  {% endfor %}
  {% for post in page.projects %}
  <li><a class="post_title" href="{{ post.url }}">{{ post.title }}</a></li>
  {% endfor %}
  </ul>
</section>