---
layout: default
title: Home
twitter: true
twitter_type: summary
description: Peter Beshai's blog - data visualization, basketball, and web development.
img: /images/profile.jpg
experiments:
  - url: https://bl.ocks.org/pbeshai/51d05995c5410a52116f89738144c622
    title: Animate 100,000 points with regl
    description: Shows 100,000 points moving between various layouts smoothly thanks to WebGL. Uses regl and d3.
    year: 2017
  - url: https://bl.ocks.org/pbeshai/da904ef5fd7f451e04e3b04568fef270
    title: Line Circle Illusion
    description: Circles moving in straight lines producing an illusion of a larger circle rotating. Uses canvas and d3.
    year: 2017
  - url: https://bl.ocks.org/pbeshai/72c446033a98f99ce1e1371c6eee9644
    title: Compute points and angles along a bezier curve
    description: Given the end points and control points along a bezier curve, get any point and any angle along the curve. Uses d3.
    year: 2017
  - url: https://bl.ocks.org/pbeshai/65420c8d722cdbb0600b276c3adcc6e8
    title: Animate thousands of points with canvas and D3
    description: Shows 7,000 points animating smoothly between different layouts. Uses canvas and d3.
    year: 2017
  - url: /vis/mandala/
    title: Mandala Generator
    description: Playing with svg's &lt;use&gt; tag to randomly generate mandalas. Uses svg and d3.
    year: 2016
  - url: /vis/ovc/particles
    title: OpenVis Conf 2017 Moving Particles
    description: Animating particles moving across the background of a page with lines connecting them when they're close to one another. Uses canvas and d3.
    year: 2016
  - url: /vis/canvas-particle-orb
    title: Canvas Particle Orb
    description: Animate 20,000 rectangles changing position and color. Uses canvas and d3.
    year: 2016
  - url: https://bl.ocks.org/pbeshai/484d6bf04edcdecfc3731e00c062f47e
    title: Jagged Lines
    description: Draws a jagged line between any two points with configurable parameters. Uses svg and d3.
    year: 2016
  - url: https://bl.ocks.org/pbeshai/ffd0f9d84b4e8df27db2
    title: Shooting Signatures
    description: An attempt at creating an at-a-glance visual summary of an NBA player's shooting performance. Uses svg and d3.
    year: 2015



projects:
  - url: http://viz.measurementlab.net/
    title: Measurement Lab Visualizations
    description: A comprehensive data pipeline, API, and visualization system for over 200 million internet speed tests across the world.
    year: 2016
    company: Bocoup
  - url: http://www.cancerbrowser.org/
    title: Harvard Medical School Breast Cancer Browser
    description: An online tool for exploring and visualizing the results of a multitude of different experiments focused on how various breast cancer cell lines respond to a number of different perturbagens.
    year: 2016
    company: Bocoup
  - url: https://openvisconf.com/2016/#videos
    title: OpenVis Conf 2016 Videos
    description: An interface to navigate through videos from OpenVis Conf powered by text analysis of the transcripts and image extraction from the videos.
    year: 2016
    company: Bocoup
  - url: http://buckets.peterbeshai.com/app/
    title: "Buckets: NBA Shot Visualization"
    description: An information-dense dashboard exploring shooting performance in the NBA from a variety of visual perspectives.
    year: 2014
    company: Personal
  - url: http://do.peterbeshai.com/academic/projects.html
    title: "Academic Projects"
    description: Find information about various projects I completed during my Master's degree.
    year: 2012-2014
open_source:
  - url: https://github.com/gabrielflorit/blockup
    title: blockup
    description: A command-line tool for creating and publishing blocks. Created by Gabriel Florit.
  - url: http://peterbeshai.com/vis/d3-interpolate-path/
    title: d3-interpolate-path
    description: Interpolates &lt;path&gt; d attribute smoothly when A and B have different number of points.
  - url: http://peterbeshai.com/vis/d3-line-chunked/
    title: d3-line-chunked
    description: Create lines that indicate where data is missing with gaps or differently styled line segments.
  - url: http://peterbeshai.com/vis/d3-scale-interactive/
    title: d3-scale-interactive
    description: An interactive UI for editing d3 v4 scales in your browser.
  - url: https://github.com/pbeshai/react-auto-width/
    title: react-auto-width
    description: Populates a width prop of a React component to its parent's width.
  - url: https://github.com/pbeshai/react-computed-props/
    title: react-computed-props
    description: A higher-order component for React to add derived props for better performance.
  - url: http://peterbeshai.com/react-taco-table/
    title: react-taco-table
    description: An extensible table component for React that is driven by column configuration.
  - url: http://peterbeshai.com/react-url-query/
    title: react-url-query
    description: A library for managing state through query parameters in the URL in React.
  - url: https://github.com/pbeshai/vis-utils/
    title: vis-utils
    description: A collection of utility functions for helping with data visualization.
blog:
  - url: https://bocoup.com/blog/smoothly-animate-thousands-of-points-with-html5-canvas-and-d3
    title: Smoothly animate thousands of points with HTML5 Canvas and D3
    date: 2017-03-16 00:00:00 +0000
    host: bocoup.com
    banner: images/posts/canvas1000.jpg
  - url: https://bocoup.com/weblog/showing-missing-data-in-line-charts
    title:  Showing Missing Data in Line Charts
    date: 2016-09-20 00:00:00 +0000
    host: bocoup.com
    banner: images/posts/missing_data_line.png
  - url: https://bocoup.com/weblog/improving-d3-path-animation
    title:  Improving D3 Path Animation
    date: 2016-09-14 00:00:00 +0000
    host: bocoup.com
    banner: images/posts/path_animation.png
  - url: https://medium.com/@pbesh/react-and-vega-an-alternative-visualization-example-cd76e07dc1cd#.d3cx0asd0
    title:  "React and Vega: An Alternative Visualization Example"
    date: 2016-03-01 00:00:00 +0000
    host: medium.com
    banner: images/posts/react_vega_blog_banner.jpg
  - url: https://medium.com/@pbesh/linked-highlighting-with-react-d3-js-and-reflux-16e9c0b2210b
    title:  Linked Highlighting with React, D3.js and Reflux
    date: 2015-05-04 00:00:00 +0000
    host: medium.com
    banner: images/posts/react_d3_blog_banner.jpg
---
<section>
  {% assign postsArray = "" | split: "" %}
  {% for post in site.categories.blog %}
    {% assign postsArray = postsArray | push: post %}
  {% endfor %}
  {% for post in page.blog %}
    {% assign postsArray = postsArray | push: post %}
  {% endfor %}
  {% assign sortedBlog = postsArray | sort: "date" | reverse %}
  <h3 class="list-header">Blog</h3>
  <ul class="list-unstyled posts posts-with-banner">
    {% for post in sortedBlog %}
    <li>
      <a class="post-item-title" href="{{ post.url }}">
        {% if post.banner %}<img src="{{ post.banner }}" class="post-item-image" />{% endif %}
        {{ post.title }}
      </a>
      <div class="post-item-details">
        <span class="post-item-date">{{ post.date | date: '%B %-d, %Y' }}</span>
        <span class="post-item-host">{{ post.host }}</span>
      </div>
    </li>
    {% endfor %}
  </ul>
</section>

<section>
  <h3 class="list-header">Projects</h3>
  <ul class="list-unstyled posts">
    {% for post in page.projects %}
    <li>
      <a class="post-item-title" href="{{ post.url }}">{{ post.title }}</a>
      <div class="post-item-details">
        <p class="post-item-description">
          {{ post.description }}
          <span class="post-item-date">Made in {{ post.year }}.</span>
        </p>
      </div>
    </li>
    {% endfor %}
  </ul>
</section>

<section>
  <h3 class="list-header">Experiments</h3>
  <ul class="list-unstyled posts">
    {% for post in page.experiments %}
    <li>
      <a class="post-item-title" href="{{ post.url }}">{{ post.title }}</a>
      <div class="post-item-details">
        <p class="post-item-description">
          {{ post.description }}
          <span class="post-item-date">Made in {{ post.year }}.</span>
        </p>
      </div>
    </li>
    {% endfor %}
  </ul>
</section>

<section>
  <h3 class="list-header">Open Source</h3>
  <ul class="list-unstyled posts">
    {% for post in page.open_source %}
    <li>
      <a class="post-item-title" href="{{ post.url }}">{{ post.title }}</a>
      <div class="post-item-details">
        <p class="post-item-description">
          {{ post.description }}
        </p>
      </div>
    </li>
    {% endfor %}
  </ul>
</section>

